@model DrawCard

<h2>Here's your Draw!</h2>
<p>Deck #: @Model.deck_id || Cards Remaining: @Model.remaining</p>
<br />
    
@foreach (Card c in Model.cards)
{
    <div>
    <br/>
    <p>@c.value of @c.suit</p>
    <img src="@c.image"/>
    <br/>
    </div>
}
